/* For Mobiles */

@media screen and (max-width: 767px) {
  .home {
    .background-image {
      background-position: center;
    }
    .overlay {
      background-position: center;
      display: flex;
      padding: 20px 0;
      flex-direction: column;
    }

    .banda {
      aspect-ratio: inherit;
      max-height: 100vh;
      bottom: 0;
      left: 50%;
    }
    .code {
      padding: 50px 20px;
      font-size: 8px;
    }
    .title-img {
      width: 100%;
      // top: 0;
    }
    .tagline {
      font-size: 1em;
      translate: 0;
      left: 0;
      bottom: -20%;
    }
    .date {
      bottom: -50%;
    }
  }

  .about {
    .content {
      flex-direction: row;
    }
  }
}
