/* For Mobiles */

@media screen and (max-width: 767px) {
  .home {
    .background-image {
      background-position: center;
    }
    .overlay {
      background-position: center;
      display: flex;
      padding: 20px 0;
      flex-direction: column;
    }

    .banda {
      aspect-ratio: inherit;
      max-height: 100vh;
      bottom: 0;
      left: 50%;
    }
    .code {
      padding: 80px 20px;
      font-size: 8px;
    }
    .title-img {
      width: 100%;
      // top: 0;
    }
    .tagline {
      font-size: 1em;
      translate: 0;
      left: 0;
      bottom: -20%;
    }
    .date {
      bottom: -50%;
    }
  }

  .about {
    flex-direction: column;
    .subtitle-container {
      width: 100%;
    }
    .sub {
      flex-direction: row;
      img {
        height: 3.5rem;
      }
    }
    // .subtitle::before {
    //   position: absolute;
    //   content: url('../assets/sword.png');
    //   background-size: contain;
    //   height: 36px;
    //   width: 36px;
    // }
    .before {
      display: block;
    }
  }

  .prizes {
    .grid-container {
      display: flex;
      flex-direction: column;
    }
    .title {
      left: 0;
    }
    .content {
      .container-text {
        width: 100%;
        text-align: center;
      }
    }
    .container-text {
      width: 100%;
      text-align: center;
    }
  }

  .track {
    .tracks {
      flex-direction: column;
      gap: 20px;
    }
  }

  .footer {
    .footer img {
      max-width: 250px;
    }
    .footer-content {
      flex-direction: column;
    }
  }
}
