@import './_reset.scss';
@import './fonts';
@import './_responsive.scss';
* {
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background-color: #000512;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
