.home {
  width: 100vw;
  font-weight: 100;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .background-image {
    height: 100vh;
    background-image: url('../../assets/background.png');
    background-size: cover;
    background-position: center;
  }
  .background-image::before {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 93%);
  }
  .overlay {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/Stars.png');
    background-size: cover;
    background-position: center;
    position: relative;
    background-blend-mode: multiply;
    bottom: 0;
    // animation: parallax 1s linear infinite;
  }

  .code {
    padding: 100px 20px;
    display: flex;
    font-family: 'dunerise', sans-serif;
    color: #929292;
    font-size: clamp(4px, 5vw, 10px);
    flex-direction: row;
  }

  .title-img {
    position: absolute;
    font-weight: 200;
    max-width: 700px;
    transform: scale(0.8);
    translate: -50%;
    left: 50%;
    top: 25%;
    align-items: center;
    display: flex;
    justify-content: center;
    overlay: hidden;
  }

  .tagline {
    position: relative;
    font-size: 1.5rem;
    font-weight: 200;
    translate: -50%;
    bottom: -10%;
    left: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    font-family: 'dunerise', sans-serif;
  }
  .banda {
    aspect-ratio: 1727/1133;
    display: flex;
    position: fixed;
    max-height: 90vh;
    bottom: -3%;
    left: 20%;
    transform: translateX(-50%);
  }

  .ships {
    position: absolute;
    scale: 0.8;
    top: 0%;
    right: 0;
  }

  .date {
    position: relative;
    color: #fff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'agencyfb';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    translate: -50%;
    bottom: -50%;
    left: 50%;
    z-index: 99;
  }
}
