.faq {
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: contain;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  .content {
    display: flex;
    width: 100%;
    align-items: start;
  }

  .title {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    -webkit-text-stroke-width: 6.284524440765381;
    -webkit-text-stroke-color: #000;
    font-family: 'dunerise';
    font-size: 9rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 31.423px;
    opacity: 0.05;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 85.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .subtitle::after {
    content: url('../../assets/Question.svg');
    position: relative;
  }
  .subtitle {
    // width: 100%;
    display: flex;
    flex-direction: row; /* Change flex direction to column */
    position: relative;
    color: #fff;
    font-family: 'agencyfb';
    font-size: 5rem;
    font-style: normal;
    text-align: left;
    padding: 5%;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 13px;
    top: 30%;
    width: 100%;
    align-items: start; /* Align items in the center */
  }
  .accordion-item-body-content > a {
    color: var(--neon-pink);
  }

  .accordion {
    width: 80%;
    margin: 2rem auto;
    background-color: none;
    font-family: 'agencyfb', sans-serif;
    font-weight: 400;
    font-size: 2rem;
  }

  .accordion-item {
    background-color: none;
    color: white;
    margin: 1.5rem 0;
    border-bottom: 1px solid white;
  }

  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    display: flex;
    font-size: 2rem;
    align-items: center;
    position: relative;
    cursor: pointer;
  }

  .accordion-item-header.active {
    color: white;
    text-align: left;
    justify-content: left;
    flex-direction: row;
    margin: auto;
    font-size: 2rem;
  }

  .accordion-item-header::after {
    content: '\002B';
    position: absolute;
    right: 1rem;
    animation: rotateleft 0.3s;
  }

  .accordion-item-header.active::after {
    content: '\2212';
    animation: rotateright 0.3s;
  }

  @keyframes rotateright {
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes rotateleft {
    100% {
      transform: rotate(-180deg);
    }
  }

  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion-item-body-content {
    padding: 1.5rem;
    padding-top: 0.8rem;
    font-size: 17px;
  }

  @media (max-width: 720px) {
    .accordion-item-body-content {
      font-size: 13px;
    }

    .accordion-item-header.active {
      font-size: 15px;
    }
  }
}
