.faq {
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-size: contain;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  .content {
    display: flex;
    width: 100%;
    align-items: start;
  }

  .title {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    -webkit-text-stroke-width: 6.284524440765381;
    -webkit-text-stroke-color: #000;
    font-family: 'dunerise';
    font-size: 9rem;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 31.423px;
    opacity: 0.05;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 85.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  // .subtitle::after {
  //   content: url('/Question.svg');
  //   position: relative;
  // }
  .subtitle {
    // width: 100%;
    display: flex;
    flex-direction: row;
    color: #fff;
    font-family: 'agencyfb';
    font-size: 6rem;
    font-style: normal;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 13px;
    // padding-right: 50rem;
    top: 30%;
    width: 100%;
    align-items: center;
    gap: 1rem;

    @media (max-width: 720px) {
      font-size: 3.6rem;
      justify-content: center;
    }
  }

  .faqs-img-left,
  .faqs-img-right {
    height: 5rem;
    width: 5rem;

    @media (max-width: 720px) {
      height: 3rem;
      width: 3rem;
    }
  }

  .faqs-img-left {
    display: none;

    @media (max-width: 720px) {
      display: block;
    }
  }

  .h3-center-faqs {
    margin-left: 13px;
  }

  .accordion-item-body-content > a {
    color: var(--neon-pink);
  }

  .accordion {
    width: 80%;
    margin: 1rem auto;
    background-color: none;
    font-family: 'agencyfb', sans-serif;
    font-weight: 400;
    font-size: 0.5rem;
    margin-bottom: 6rem;
  }

  .accordion-item {
    background-color: none;
    color: white;
    margin: 0.5rem 0;
    // border-bottom: 1px solid white;

    img {
      width: 100%;
    }
  }

  .accordion-item-header {
    padding: 0.1rem 1.3rem 0.1rem 1.3rem;
    min-height: 2rem;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    position: relative;
    cursor: pointer;

    @media (max-width: 616px) {
      font-size: 1.4rem;
      padding: 0.1rem 0.7rem;
    }

    @media (max-width: 520px) {
      font-size: 1.1rem;
      padding: 0.1rem 0.7rem;
    }

    @media (max-width: 410px) {
      font-size: 0.95rem;
      padding: 0.1rem 0.7rem;
    }
  }

  .accordion-item-header.active {
    color: white;
    text-align: left;
    justify-content: left;
    flex-direction: row;
    margin: auto;
    font-size: 1.6rem;

    @media (max-width: 620px) {
      font-size: 1.4rem;
      padding: 0.1rem 0.7rem;
    }

    @media (max-width: 520px) {
      font-size: 1.1rem;
      padding: 0.1rem 0.7rem;
    }

    @media (max-width: 410px) {
      font-size: 0.95rem;
      padding: 0.1rem 0.7rem;
    }
  }

  .accordion-item-header::after {
    content: url('src/assets/Polygon13FAQdrop.svg');
    position: absolute;
    right: 1rem;
    animation: rotateleft 0.4s;
    transform-origin: 50% 59%;
    
    @media (max-width: 520px) {
      transform-origin: 50% 48%
    }
  }

  .accordion-item-header.active::after {
    content: url('src/assets/Polygon13FAQdrop.svg');
    transform: rotate(180deg);
    position: absolute;
    right: 1rem;
    animation: rotateright 0.4s;
    transform-origin: 50% 59%;

    @media (max-width: 520px) {
      transform-origin: 50% 48%
    }
  }

  @keyframes rotateright {
    100% {
      transform: rotate(540deg);
    }
  }

  @keyframes rotateleft {
    100% {
      transform: rotate(-360deg);
    }
  }

  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion-item-body-content {
    padding: 1rem;
    font-size: 1rem;
    margin-left: 0.3rem;
    letter-spacing: 1.2px;
  }
}

.coc {
  cursor: pointer;
}
