.prizes {
  min-height: 100vh;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #000512;
  padding-bottom: 2rem;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    108deg,
    rgba(232, 186, 61, 0.4) 0%,
    rgba(232, 186, 61, 0) 20.64%
  );
  .subheading {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    font-family: 'agencyfb';
    height: 100%;
    min-height: 10vmin;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 3rem;
    padding-top: 3rem;
    z-index: 2;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      h3 {
        font-size: 6rem;
        position: relative;
        margin: 0 1rem;
        &::before,
        &::after {
          content: '';
        }
      }
    }
    p {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      -webkit-text-stroke-width: 7.02435827255249;
      -webkit-text-stroke-color: #000;
      letter-spacing: 3rem;
      font-size: clamp(1.5rem, 30vw, 20rem);
      font-weight: normal;
      opacity: 0.05;
      background: linear-gradient(
        180deg,
        #fff 0%,
        rgba(255, 255, 255, 0) 95.73%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    background: url('./prizes/prizesBg.svg') #000512 no-repeat center center;
    background-size: cover;
    opacity: 0.3;
  }

  .content {
    padding: 10%;
    text-align: center;
    flex: 1;
    z-index: 1;
    align-items: center;
    margin-top: -6%;
  }

  .body-text {
    position: relative;
    color: #fff;
    font-family: 'agencyfb';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    letter-spacing: 1.5px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    text-align: left;
  }

  .container-text {
    .spacer {
      display: flex;
      flex-grow: 1;
      height: max-content;
    }
    padding: 10px 20px;
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: AgencyFB;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 4.193px;
    font-size: 4rem;
    h4 {
      font-size: 2rem;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      text-align: center;
      font-family: 'agencyfb';
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.237px;
    }
  }
  .right-container .container-text {
    padding: 10px 20px;
    position: absolute;
    // color: #fff;
    text-align: left;
    font-family: 'agencyfb';
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 4.193px;
    .spacer {
      height: 40px;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;

      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      text-align: left;
      font-family: 'agencyfb';
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.237px;
    }
  }
  .left-container {
    aspect-ratio: 106/75;
    height: 26.5rem;
    // background-image: url('../../assets/first.png');
    background-size: cover;
    background-position: center;
    // height: auto;
    // width: auto;
  }

  .right-container {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  .right-item {
    height: auto;
    width: auto;
    margin-bottom: 10px; /* Spacing between the two items */
  }

  .left-container {
    aspect-ratio: 106/75;
    height: 26.5rem;
    background-size: cover;
    background-position: center;
  }

  .right-container {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  .right-item {
    height: auto;
    width: auto;
    margin-bottom: 10px; /* Spacing between the two items */
  }
}
