.prizes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000512;
  // height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(
    108deg,
    rgba(232, 186, 61, 0.4) 0%,
    rgba(232, 186, 61, 0) 20.64%
  );

  .content {
    padding: 20% 10% 10% 10%;
    text-align: center;
    flex: 1;
    z-index: 1;
  }

  .title {
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50%;
    -webkit-text-stroke-width: 6.284524440765381;
    -webkit-text-stroke-color: #000;
    font-family: 'dunerise';
    font-size: 15rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 31.423px;
    opacity: 0.05;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 85.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    position: absolute;
    color: #fff;
    top: 20%;
    left: 20%;
    transform: translateX(-50%);
    font-family: 'agencyfb';
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 13px;
    text-transform: uppercase;
    margin: 0;
  }

  .subtitle::before {
    content: url('../../assets/prizes.svg');
    margin-right: 10px;
  }

  .body-text {
    position: relative;
    color: #fff;
    font-family: 'agencyfb';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    letter-spacing: 1.5px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px; /* Adjust as needed */
    text-align: left;
  }

  .container-text {
    .spacer {
      height: 150px;
    }
    padding: 10px 20px;
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: AgencyFB;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 4.193px;
    h4 {
      font-size: 2rem;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      text-align: center;
      font-family: 'agencyfb';
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.237px;
    }
  }
  .right-container .container-text {
    padding: 10px 20px;
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: AgencyFB;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 4.193px;
    .spacer {
      height: 40px;
    }
    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
    h4 {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: normal;

      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      text-align: center;
      font-family: 'agencyfb';
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 3.237px;
    }
  }
  .left-container {
    aspect-ratio: 106/75;
    height: 26.5rem;
    // background-image: url('../../assets/first.png');
    background-size: cover;
    background-position: center;
    // height: auto;
    // width: auto;
  }

  .right-container {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  .right-item {
    height: auto;
    width: auto;
    margin-bottom: 10px; /* Spacing between the two items */
  }

  .left-container {
    aspect-ratio: 106/75;
    height: 26.5rem;
    background-size: cover;
    background-position: center;
  }

  .right-container {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  .right-item {
    height: auto;
    width: auto;
    margin-bottom: 10px; /* Spacing between the two items */
  }
}
